body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: lightblue;
    box-sizing: border-box;
    overflow: hidden;
}

.boards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    text-align: center;
    gap: 40px;
}

.boards > span {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start > button {
    height: 40px;
    width: 120px;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0);
}

.start > button ~ button {
    width: max-content;
    font-size: 20px;
}

.player-board,
.opponent-board {
    display: grid;
    height: min-content;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    background-color: black;
    gap: 2px;
    padding: 2px;
}

.ships {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    flex-wrap: wrap;
    gap: 5px;
}

.ships.vertical {
    flex-direction: row;
    gap: 10px;
}

.ships.vertical > button {
    width: 30px;
}

.ships.vertical .C {
    height: 90px;
}

.ships.vertical .A {
    height: 150px;
}

.ships.vertical .D {
    height: 60px;
}

.ships.vertical .S {
    height: 90px;
}

.ships.vertical .B {
    height: 120px;
}

.ships > button {
    height: 30px;
    border: 1px solid black;
}

.opponent-board > button,
.player-board > button {
    background-color: lightblue;
    border: none;
}

.player-board .C,
.ships .C {
    background-color: gray;
}

.ships .C {
    width: 90px;
}

.player-board .A,
.ships .A {
    background-color: blue;
}

.ships .A {
    width: 150px;
}

.player-board .D,
.ships .D {
    background-color: blueviolet;
}

.ships .D {
    width: 60px;
}

.player-board .S,
.ships .S {
    background-color: brown;
}

.ships .S {
    width: 90px;
}

.player-board .B,
.ships .B {
    background-color: black;
}

.ships .B {
    width: 120px;
}

.opponent-board .X,
.player-board .X {
    background-color: red;
}

.opponent-board .M,
.player-board .M {
    background-color: rgb(100, 100, 255);
}

button:hover {
    box-shadow: inset 0px 0px 5px grey;
}

button:active {
    box-shadow: none;
}

.ships > button:hover {
    box-shadow: 2px 2px 5px grey;
}
